@mixin button-color($--color, $--border-color, $--background-color) {
  color: $--color;
  border-color: $--border-color;
  background-color: $--background-color;
}

@mixin button-color-hover($--border-color, $--background-color) {
  &:hover {
    border-color: $--border-color;
    background-color: $--background-color;
  }
}

@mixin button-size($--padding) {
  padding-top: $--padding;
  padding-bottom: $--padding;
  &.is-circle {
    padding: $--padding;
  }
}