/* Font Size -------------------------- */
$--font-size--small: 12px !default;
$--font-size--normal: 14px !default;

/* Main Color -------------------------- */
$--color--primary: #EF5230 !default;
$--color--primary-hover: #F3826A !default;
$--color--outline-hover: #FFF2EF !default;
/* Secondary Color -------------------------- */

/* Neutral Color -------------------------- */
// Background Color
$--color--base-black: #2C2C2C !default;
$--color--base-white: #FFFFFF !default;
$--color--base-gray: #EDEFF3 !default;
$--color--light-gray: #F5F7FA !default;
// Text Color
$--color--primary-text: #2C2C2C !default;
$--color--secondary-text: #919398 !default;
// Border Color
$--color--base-border: #DDDFE5 !default;
