/* Color
-------------------------- */
$--color--white: #FFFFFF !default;
$--color--black: #2C2C2C !default;
$--color--default: #DBDBDB !default;
$--color--primary: #EF5230 !default;
$--color--primary-hover: #F3826A !default;
$--color--secondary: #EDEFF3 !default;
$--color--plain-hover: #FFF2EF !default;

/* Border Color
-------------------------- */
$--color-border--default: #DBDBDB !default;
$--color-border--primary: #EF5230 !default;

/* Font Size
-------------------------- */
$--font-size--small: 12px !default;
$--font-size--normal: 14px !default;