@use 'sass:map';
@import "../../theme-chalk/src/index.scss";

@mixin button-color($--color, $--border-color, $--background-color) {
  color: $--color;
  border-color: $--border-color;
  background-color: $--background-color;
}

@mixin button-color-hover($--border-color, $--background-color) {
  &:hover {
    border-color: $--border-color;
    background-color: $--background-color;
  }
}

@mixin button-size($--padding) {
  padding-top: $--padding;
  padding-bottom: $--padding;
  &.is-circle {
    padding: $--padding;
  }
}

.u-button {
  border-radius: 4px;
  display: inline-flex;
  box-sizing: border-box;
  font-size: $size-small;
  line-height: 1;
  padding: 8px 16px;
  transition: all ease-in .2s;
  cursor: pointer;
  border: 1px solid;
  @include button-color(var(--u-text-color-primary), var(--u-border-color-light), var(--u-color-white));
  @include button-color-hover(var(--u-border-color-light), var(--u-bg-color-base));

  &.is-disabled {
    @include button-color(var(--u-text-color-secondary), var(--u-border-color-light), var(--u-bg-color-base));
  }

  &+.u-button {
    margin-left: 10px;
  }

  &.is-disabled {
    cursor: not-allowed;
  }

  .u-icon,
  .loading-spinner {
    &+span {
      margin-left: 8px;
    }
  }

  &.is-round {
    border-radius: 14px;
  }

  &.is-circle {
    border-radius: 50%;
  }

  &.is-loading {
    vertical-align: bottom;
  }

  &.is-long {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }

  // size
  &--small {
    @include button-size(5px);
  }

  &--medium {
    @include button-size(7px);
  }

  &--large {
    font-size: $size-normal;
    @include button-size(8px);
  }

  &--larger {
    font-size: $size-normal;
    @include button-size(10px);
  }

  &--primary {
    @include button-color(var(--u-color-white), var(--u-color-primary), var(--u-color-primary));
    @include button-color-hover(var(--u-color-primary-hover), var(--u-color-primary-hover));

    &.is-disabled {
      @include button-color(var(--u-text-color-secondary), var(--u-border-color-light), var(--u-bg-color-base));
    }

    .loading-spinner .circular .path {
      stroke: var(--u-color-white);
    }
  }

  &--secondary {
    .u-icon {
      color: map.get($other-color, 'icon', 'button');
    }
  }

  &--outlined {
    @include button-color(var(--u-color-primary), var(--u-color-primary), var(--u-color-white));
    @include button-color-hover(var(--u-color-primary), var(--u-color-outline-hover));

    &.is-disabled {
      @include button-color(var(--u-color-primary-hover), var(--u-color-primary-hover), var(--u-color-white));
    }
  }

  &--text {
    @include button-color(var(--u-color-primary), transparent, transparent);
    @include button-color-hover(transparent, var(u--color-light));

    &.is-disabled {
      @include button-color(var(--u-color-primary-hover), transparent, transparent);
    }
  }
}

// button-group
.u-button-group {
  display: inline-flex;

  &+.u-button-group {
    margin-left: 10px;
  }

  .u-button {
    border-radius: 0;

    &+.u-button {
      margin-left: 0;
      border-left: none;
    }

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &.is-active,
    &:hover {
      color: var(--u-color-primary);
      background-color: var(--u-color-outline-hover);
    }

    &--primary {

      &.is-active,
      &:hover {
        background-color: var(--u-color-primary-hover);
        border-color: var(--u-color-primary-hover);
        color: var(--u-color-white);
      }

      &+.u-button {
        border-left: 1px solid var(--u-color-white);
      }
    }
  }

  &.is-divided {
    .u-button {
      border-left: none;
      position: relative;

      &+.u-button {
        &::before {
          content: '';
          position: absolute;
          width: 1px;
          top: 5px;
          bottom: 5px;
          left: 0;
          background: var(--u-color-white);
        }
      }
    }
  }
}